<main>
  <h1 data-test="product-count">Products ({{products.length}})</h1>
  <div *ngFor="let product of products" class="product-container" [attr.data-test]="product.name + '-container'">
    <span [attr.data-test]="product.name + '-header'">{{product.name}} &#8226; {{product.type}}</span>
    <br>
    <span *ngIf="product.inStock" class="in-stock" [attr.data-test]="product.name + '-inStock'">
      In Stock
      <br>
    </span>
    <span [attr.data-test]="product.name + '-price'">
      {{product.price | currency}}
    </span>
    <br>
    <p [attr.data-test]="product.name + '-description'">
      {{product.description}}
    </p>
  </div>
</main>
